
<DOCTYPE html>
    <html>
        <head>
        <a href="https://dneperska.sk/" target="_blank">skolska stranka</a>
        a:link{
            color: greenyellow;
            background-color: transparent;
            text-decoration: none;
        }
        
        a:visited{
            color: chocolate;
            background-color: transparent;
            text-decoration: none;
        }
        
        a:visited{
            color: chocolate;
            background-color: transparent;
            text-decoration: none;
        }
        
        a:hover{
            color: yellow;
            background-color: transparent;
            text-decoration: none;
        }
        </head>
    </html>
</DOCTYPE>

